ErrorDocument 404 /newweblogicahosting/error.html
Options +FollowSymLinks
RewriteEngine On
RewriteRule ^dominios /newweblogicahosting/
RewriteRule ^planes-de-hospedaje-web /newweblogicahosting/
RewriteRule ^promociones /newweblogicahosting/
