html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	vertical-align: baseline;
	box-sizing: border-box
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}

/* main */
main{
	display: flex;
	min-height: calc(100vh - 135px);
	overflow: hidden;
	position: relative;
}

/* router */

.pagina:not(.active){
	order: 2;
	transform: translateX(100%);
	width: 100%;
	position: absolute;
	
	z-index: -1;
}
.pagina.active{
	order: 1;
	animation: comeIn .3s ease-in-out;
	position: relative;
}
.pagina{
	transition: all ease-in-out .3s;
	flex: 1;
	flex-direction: column;
}
@keyframes comeIn{
	from{
	order: 1;
	transform: translateX(-100%);
	}
	to{
		transform: translateX(0%);

	}
}
