
#aside .links .link-group{
    display: none;
}
#aside .links a{
    cursor: pointer;
}
#aside .links a i{
    font-size: 10px;
    text-decoration: none
}
#aside .links{
    background: #f9f9f9;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666666;
    z-index: 10;
    padding: 10px 15px;
    
}

@keyframes enter{
    from{transform: translateX(-100%)}
    to{transform: translateX(0)}
}
@media screen and (max-width:600px){

    #aside .links{
        position: absolute;
        width: 100%;
        z-index: 10;
        background: #f9f9f9;

    }
    #aside .links > *{
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
}
@media screen and (min-width:601px){
    #aside .links a{
        margin-bottom: 5px
    }
    #aside .trigger{
        display: none;
    }
    #aside .links > *{
        width: 200px;
        flex-direction: column;
    }
}