section.promociones .breadCrumbs,
section.promociones{
    flex-direction: column
}
section.promociones,
section.promociones p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
}

section.promociones h2{
    border: 2px white solid;
    color: white;
    -webkit-box-shadow: 3px 6px 5px 0px rgba(181,181,181,0.6);
    -moz-box-shadow: 3px 6px 5px 0px rgba(181,181,181,0.6);
    box-shadow: 3px 6px 5px 0px rgba(181,181,181,0.6);
    font-weight: bolder;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    background: url('../../assets/fondoh2.jpg') no-repeat;
    background-size: cover;
}
section.promociones .breadCrumbs{
    padding: 20px;
}
section.promociones .promo-container{
    padding: 20px;
}
section.promociones .promo-container img{
    width: 100%;
    object-fit: contain;
}