ErrorDocument 404 error:404
Options +FollowSymLinks
RewriteEngine On
RewriteRule ^dominios /NEW_WeblogicaHosting/
RewriteRule ^planes-de-hospedaje-web /NEW_WeblogicaHosting/
RewriteRule ^promociones /NEW_WeblogicaHosting/
